<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Edit the Movie</title>
</head>
<body>
<div class="container">
    <div class="row">
        <!--<h1 style="text-align: center">Edit the Movie</h1>-->
        <h1 align="center">Edit the Movie</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form th:action="@{'/editMovieSubmit?ID='+${movie.id}}" method="post" th:object="${movieRecordForm}">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" th:field="${movie.name}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="year" th:field="${movie.year}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="introduction" th:field="${movie.introduction}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="picturePath" th:field="${movie.picturePath}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pictureContent" th:field="${movie.pictureContent}">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>
                </div>


                <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" name="name" placeholder="N">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" name="year" placeholder="N">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" name="introduction" placeholder="N">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" name="picturePath" placeholder="N">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input class="form-control" type="text" name="pictureContent" placeholder="N">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>-->
                <!--</div>-->

                <!--<input type="reset" class="reset" value="Reset"/>-->
                <!--<input type="submit" class="register" value="save changes"/>-->
                <!--<div class="clear"></div>-->
            </form>
            <a href="/">Go back</a>
        </div>

    </div>
</div>
</body>
</html>