<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Edit the Movie</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 align="center">Edit the Movie</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form th:action="@{'/editMovieSubmit?ID='+${movie.id}}" method="post" th:object="${movieRecordForm}">
                <div hidden class="form-group">
                    <input class="form-control" type="text" name="id" th:field="${movie.id}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" th:field="${movie.name}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="year" th:field="${movie.year}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="introduction" th:field="${movie.introduction}">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="picturePath" th:field="${movie.picturePath}">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/">Go back</a>
        </div>

    </div>
</div>
</body>
</html>