<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>HomePage</title>
    <style type="text/css">
        .errText {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpForMovies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <div th:if="${session.CURRENT_USER != null && session.CURRENT_USER.getRole() == 1}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/addMovie">Add movie</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div th:if="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile/'+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile/'+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
            </div>
            <div th:unless="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class=" nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="errText">
        <h2>
        <p></p>Oops... Something just went wrong.<p></p>
        </h2>
    </div>


    If you would like to <a href="mailto:zjwxcwxcwxc@gmail.com?subject=Error%20Page" subject="">report this issue</a>, please include your name and operation that triggers this error.
    Thank you very much!

</div>

<div class="container">
    <hr>
    <footer>
        <p>&copy; 2018 SanGuys Team</p>
    </footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</body>
</html>