<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>HomePage</title>
    <style type="text/css">
        .movie-profile {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .movie-profile-name {
            padding-top: 8px;
            padding-bottom: 0px;
            text-align:center;
        }

        .movie-profile-intro {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .movie-profile-pic-box {
            height: 270px;
            text-align: center;
            vertical-align: middle;
        }

        .movie-profile-pic {
            max-width: 100%;
            max-height: 100%;
            display: table-cell;
            vertical-align: middle;
            margin: auto;
        }
    </style>
</head>
<body>
<!--<div id="header" style="height: 56px;"></div>-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpForMovies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <div th:if="${session.CURRENT_USER != null && session.CURRENT_USER.getRole() == 1}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/addMovie">Add movie</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div th:if="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile?id='+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile?id='+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
            </div>
            <div th:unless="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class=" nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container" style="padding-top: 50px">
    <form class="form" action="/searchMovie" method="post">
        <div class="input-group">
            <label for="keyWords"></label>
            <input type="text" class="form-control mr-sm-5" placeholder="" id="keyWords" name="keyWords">
            <span class="input-group-btn">
                <label for="searchButton"></label>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
            </span>
        </div>
    </form>
</div>

<div class="container" style="padding-top: 50px">
    <h3>Explore Movies</h3>
    <hr>
    <div class="row">
        <div class="col-md-4 movie-profile" th:each="movie : ${movieList}">
            <div class="movie-profile-pic-box">
                <a th:href="@{'/movieDetailPage?ID='+${movie.id}}">
                    <img class="movie-profile-pic" th:src="${movie.picturePath}" alt="movie-profile-pic"/>
                </a>
            </div>
            <p class="movie-profile-name">
                <a th:href="@{'/movieDetailPage?ID='+${movie.id}}" th:text="${movie.name} + '('+${movie.year}+')'"></a>
            </p>
            <div class="movie-profile-intro" th:text="${movie.introduction}"></div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <footer>
        <p>&copy; 2018 SanGuys Team</p>
    </footer>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!--<script>-->
<!--$(function () {-->
<!--$("#header").load("./header.html");-->
<!--// $("#footer").load("footer.html");-->
<!--});-->
<!--</script>-->

</body>
</html>