<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<!--global hidden variables-->
<input hidden type="text" th:value="${movie.id}" id="globalMovieId">
<input hidden type="text" th:value="${movie.getName()}" id="globalMovieName">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <title id="title">{{movieName}}</title>
    <style>
        .div-gap {
            margin: 10px;
        }
        .updateTime {
            color: #777777;
            float: right;
        }
        .comment-content {
            padding-left: 2em;
            /*background-color: darkseagreen;*/
        }
        .unresize {
            resize: none;
        }
        .movie-profile {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .movie-profile-name {
            padding-top: 8px;
            padding-bottom: 0px;
            text-align:center;
        }

        .movie-profile-intro {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .movie-profile-pic-box {
            height: 270px;
            text-align: center;
            vertical-align: middle;
        }

        .movie-profile-pic {
            max-width: 100%;
            max-height: 100%;
            display: table-cell;
            vertical-align: middle;
            margin: auto;
        }

        .movie-profile-pic-box img {
            vertical-align: middle;
        }

    </style>
</head>
<body>

<!--header-->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpForMovies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <div th:if="${session.CURRENT_USER != null && session.CURRENT_USER.getRole() == 1}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Movies
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/addMovie">Add movie</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div th:if="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile/'+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link"
                                            th:href="@{'/user/profile/'+${session.CURRENT_USER.getId()}}"
                                            th:text="${session.CURRENT_USER.getUsername()}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout.do">Sign Out</a></li>
                </ul>
            </div>
            <div th:unless="${session.CURRENT_USER}">
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
                <ul class="navbar-nav d-lg-none">
                    <li class="nav-item-divider"></li>
                    <li class="nav-item"><a class="nav-link" href="/user/signIn">Sign in</a></li>
                    <li class=" nav-item"><a class="nav-link" href="/user/signUp">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--body-->
<div class="container">
    <div class="row">
        <!--movie detail-->
        <div class="col-md-12">
            <div class="thumbnail div-gap">
                <div class="row">
                    <!--dummy col-->
                    <div class="col-md-4"></div>
                    <!--show movie cover-->
                    <div class="col-md-4">
                        <img class="img-responsive" th:src="${movie.picturePath}" alt="movie-profile-pic">
                    </div>

                    <!--collection and rating-->
                    <div class="col-md-4">
                        <span th:text="'YelpForMovie Rating: ' + ${movie.getRating()}"></span>
                        <div id="collection" th:if="${session.CURRENT_USER != null}">
                            <!--collection button-->
                            <img :src="current_icon_path" @click="handleSwitchClick">
                        </div>
                        <div id="rating" th:if="${session.CURRENT_USER != null}">
                            <!--necessary userId-->
                            <input hidden type="text" th:value="${session.CURRENT_USER.getId()}" id="globalUserId">

                            <!--your rating-->
                            <span>
                                <select id="scoreInputId">
                                    <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
                                </select>
                            </span>
                            <span>
                                <button @click="handleBtnClick">Submit your score!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!--edit and delete buttons for admins-->
                <div class="caption-full">
                    <br>
                    <br>
                    <h3 align="left"><strong th:text="${movie.name} + ' ('+${movie.year}+')'"></strong></h3>
                    <br>
                    <p th:text="${movie.introduction}"></p>
                    <br>
                    <div class="row" th:if="${session.CURRENT_USER != null && session.CURRENT_USER.getRole() == 1}">
                        <!--edit-->
                        <a th:href="@{'/editMovie?ID='+${movie.id}}"><button><img src="images/baseline-edit-black-18/2x/baseline_edit_black_18dp.png"></button></a>
                        <!--delete-->
                        <form class="delete-form" th:action="@{'/deleteMovie?ID='+${movie.id}}" method="POST">
                            <button><img src="images/baseline-delete-black-18/2x/baseline_delete_black_18dp.png"></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container table-responsive" style="padding-top: 50px;">
                <p><a th:utext="'Search &quot;' + ${movie.name} + '&quot; on IMDB'" th:href="'https://www.imdb.com/find?q=' + ${movie.name}"></a></p>
                <p><a th:utext="'Search &quot;' + ${movie.name} + '&quot; on Amazon'" th:href="'https://www.amazon.com/s/search-alias%3Dmovies-tv&field-keywords=' + ${movie.name}"></a></p>
            </div>

            <!--comment part-->
            <div class="jumbotron div-gap">
                <!--add a comment-->
                <div class="text-right div-gap" th:if="${session.CURRENT_USER != null}">
                    <form title="Comment" action="/comment/add.do" method="post">
                        <input type="hidden" name="movieId" th:value="${movie.id}">
                        <textarea class="form-control unresize" id="userInput" name="content"
                                  placeholder="Say something..." required="required" onkeyup="checkEmpty()"></textarea>
                        <br>
                        <button class="btn btn-success" id="post">Post</button>
                    </form>
                </div>

                <div><h2>Comments</h2></div>

                <!--show comments-->
                <div class="row" div-gap>
                    <div class="col-md-12" th:each="comment, iterStat: ${commentList}">
                        <hr>
                        <!--show username, comment and update time-->
                        <strong th:text="${userNamesOfCommentList[iterStat.index]}"></strong>
                        <span class="updateTime" th:text="'Update time: ' + ${comment.updateTime}"></span>
                        <p class="comment-content" th:utext='${#strings.replace(comment.content,"&#10;", "&lt;br&gt;")}'></p>

                        <!--delete your comment-->
                        <div class="row" th:if="${session.CURRENT_USER != null && session.CURRENT_USER.getId() == userIdsOfCommentList[iterStat.index]}">
                            <div class="col-md-2 pull-right">
                                <form class="delete-form" th:action="@{'/comment/delete.do?ID='+${comment.id} + '&movieId=' + ${comment.movieId}}" method="POST">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


<script>
    var ratingVM = new Vue({
        el: "#rating",
        methods: {
            handleBtnClick: function() {
                var o = {
                    userId: $("#globalUserId").val(),
                    movieId: $("#globalMovieId").val(),
                    score: $("#scoreInputId").val()
                };
                axios.post('/updateRating.do', Qs.stringify(o))
                    .then(function (response) {
                        console.log(response);
                        alert('Score updated!')
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert('Score error')
                    });
            }
        }
    });


    var titleVM = new Vue({
        el: "#title",
        data: {
            movieName: $("#globalMovieName").val()
        }
    });


    // collection button
    var collectionVM = new Vue({
        el: "#collection",
        data: {
            favorite_icon_path: "images/baseline-favorite-black-18/2x/baseline_favorite_black_18dp.png",
            favorite_border_icon_path: "images/baseline-favorite_border-black-18/2x/baseline_favorite_border_black_18dp.png",

            current_collect: false,
            current_icon_path: "images/baseline-favorite_border-black-18/2x/baseline_favorite_border_black_18dp.png"
        },
        mounted: function() {
            if($("#globalUserId").val() != null && $("#globalMovieId").val() != null) {
                axios.get('/getCollection.do', {
                    params: {
                        userId: $("#globalUserId").val(),
                        movieId: $("#globalMovieId").val(),
                    }
                })
                .then(response => {
                    console.log(response);
                    if(response.data.umRelation != null && response.data.umRelation.collected == 1) {
                        this.current_collect = true;
                        this.current_icon_path = "images/baseline-favorite-black-18/2x/baseline_favorite_black_18dp.png";
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            }
        },
        methods: {
            handleSwitchClick: function() {
                // switch collection icon
                if(this.current_collect) {
                    this.current_icon_path = this.favorite_border_icon_path;
                } else {
                    this.current_icon_path = this.favorite_icon_path;
                }
                this.current_collect = !this.current_collect;

                // update collection info
                var o = {
                    userId: $("#globalUserId").val(),
                    movieId: $("#globalMovieId").val()
                };
                axios.post("/updateCollection.do", Qs.stringify(o))
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    });

    function checkEmpty() {
        var userInput = document.getElementById("userInput").value.trim();
        if (userInput == '') {
            document.getElementById("post").disabled = true;
        } else {
            document.getElementById("post").disabled = false;
        }
    }
</script>

</body>
</html>