<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>HomePage</title>
    <style type="text/css">
        body{
            padding-bottom: 50px;
        }
        .image-container {
            position: relative;
        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .image-container:hover .image {
            opacity: 0.3;
        }

        .image-container:hover .middle {
            opacity: 1;
        }
    </style>
</head>
<body>

<div class="container" style="padding-bottom: 25px">
    <h1 class="form-heading"><a href="/" style="color:black;">YelpForMovies</a></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <!--<div class="image-container">-->
                                <!--<img src="http://placehold.it/150x150" id="imgProfile"-->
                                     <!--style="width: 150px; height: 150px" class="img-thumbnail"/>-->
                                <!--<div class="middle">-->
                                    <!--<input type="button" class="btn btn-secondary" id="btnChangePicture"-->
                                           <!--value="Change"/>-->
                                    <!--<input type="file" style="display: none;" id="profilePicture" name="file"/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold" th:text="${session.CURRENT_USER.getUsername()}"></h2>
                                <!--<h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>-->
                                <!--<h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>-->
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                       value="Discard Changes"/>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-warning" th:href="@{'/user/profile/update/' + ${session.CURRENT_USER.getId()}}">
                                    Edit
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                       role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="collections-tab" data-toggle="tab" href="#collections"
                                       role="tab" aria-controls="collections" aria-selected="false">Collections</a>
                                </li>
                            </ul>

                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                     aria-labelledby="basicInfo-tab">

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">UserID</label>
                                        </div>
                                        <div class="col-md-8 col-6" th:text="${session.CURRENT_USER.getId()}">
                                        </div>
                                    </div>
                                    <hr/>

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Username</label>
                                        </div>
                                        <div class="col-md-8 col-6" th:text="${session.CURRENT_USER.getUsername()}">
                                        </div>
                                    </div>
                                    <hr/>

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6" th:text="${session.CURRENT_USER.getEmail()}"></div>
                                    </div>
                                    <hr/>

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Phone</label>
                                        </div>
                                        <div class="col-md-8 col-6" th:text="${session.CURRENT_USER.getPhone()}"></div>
                                    </div>
                                    <hr/>
                                </div>


                                <div class="tab-pane fade" id="collections" role="tabpanel"
                                     aria-labelledby="collections-tab">
                                    <div class="container table-responsive" style="padding-top: 50px;">
                                        <table id="contentTable" class="table table-hover table-nonfluid" style="text-align: center;">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th style="width:20%">picture cover</th>
                                                <th style="width:20%">name</th>
                                                <th style="width:10%">year</th>
                                                <th style="width:50%">introduction</th>
                                                <!--<th style="width:10%">EDIT</th>-->
                                                <!--<th style="width:10%">DELETE</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="movie-profile" th:each="movie : ${movieList}">
                                                <td>
                                                    <div class="movie-profile-pic-box">
                                                        <a th:href="@{'/movieDetailPage?ID='+${movie.id}}">
                                                            <img class="movie-profile-pic" th:src="${movie.picturePath}" alt="movie-profile-pic"/>
                                                        </a>
                                                    </div>
                                                </td>
                                                <th scope="row"><a th:href="@{'/movieDetailPage?ID='+${movie.id}}" th:text="${movie.name}"></a>
                                                </td>
                                                <td th:text="${movie.year}"></td>
                                                <td class="movie-profile-intro" th:text="${movie.introduction}"></td>
                                                <!--<td><a th:href="@{'/editMovie?ID='+${movie.id}}" style="color:cornflowerblue">EDIT</a></td>-->
                                                <!--<td><a th:href="@{'/deleteMovie?ID='+${movie.id}}" style="color:red">DELETE</a></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        // $imgSrc = $('#imgProfile').attr('src');
        // function readURL(input) {
        //
        //     if (input.files && input.files[0]) {
        //         var reader = new FileReader();
        //
        //         reader.onload = function (e) {
        //             $('#imgProfile').attr('src', e.target.result);
        //         };
        //
        //         reader.readAsDataURL(input.files[0]);
        //     }
        // }
        // $('#btnChangePicture').on('click', function () {
        //     // document.getElementById('profilePicture').click();
        //     if (!$('#btnChangePicture').hasClass('changing')) {
        //         $('#profilePicture').click();
        //     }
        //     else {
        //         // change
        //     }
        // });
        // $('#profilePicture').on('change', function () {
        //     readURL(this);
        //     $('#btnChangePicture').addClass('changing');
        //     $('#btnChangePicture').attr('value', 'Confirm');
        //     $('#btnDiscard').removeClass('d-none');
        //     // $('#imgProfile').attr('src', '');
        // });
        $('#btnDiscard').on('click', function () {
            // if ($('#btnDiscard').hasClass('d-none')) {
            $('#btnChangePicture').removeClass('changing');
            $('#btnChangePicture').attr('value', 'Change');
            $('#btnDiscard').addClass('d-none');
            $('#imgProfile').attr('src', $imgSrc);
            $('#profilePicture').val('');
            // }
        });
    });
</script>
</body>